<div class="container">
  <div class="media">
    <div class="media-body">
      <h4 class="media-heading">
        <%= link_to "", item_path(item), method: :delete, data: { confirm: 'Are you sure you want to delete this to-do item from your list?'}, class: "glyphicon glyphicon-record efont tpad" %>
        <%= link_to item.name, item_path(item), method: :delete, data: { confirm: 'Are you sure you want to delete this to-do item from your list?'}, class: "lefttab gfont bpad" %><br>
      </h4>
      <small class="iifont lmar2">
        <%= distance_of_time_in_words(item.created_at + 7.days, Time.now) %> left to complete this task.
      </small>
    </div>
  </div>
</div>
