<div class="container bmar">
  <h4>
    <%= link_to "", item_path(item), method: :delete, data: { confirm: 'Are you sure you want to delete this to-do item from your list?'}, class: "glyphicon glyphicon-record efont" %>
    <%= link_to item.name, item_path(item), method: :delete, data: { confirm: 'Are you sure you want to delete this to-do item from your list?'}, class: "lefttab gfont" %><br>
  </h4>
  <small class="iifont lmar2 lwpad">
    <%= distance_of_time_in_words(item.created_at + 7.days, Time.now) %> left to complete this task.
  </small>
</div>
