<div class="container cc">
<div class="row cc">
<h1 class="ifont cc">Edit Item</h1><br>

  <div class="col-md-8 cc">
    <%= render partial: "form", locals: {item: @item}, class: "cc" %>
  </div>
</div>
</div>
