<div class="container">
  <div class="col-md-6 bline ">
    <div class="container on-left">
    <h1 class="ifont">Edit To-Do Item</h1>
    <div class="on-bottom"></div>
      <div class="tpad">
        <%= render partial: "form", locals: {item: @item}, class: "cc" %>
      </div>
    </div>
  </div>
</div>
