<div class="container cc">
  <h1 class="ifont">New To-Do Item</h1><br>
  <div class="container">
    <div class="row">
      <div class="col-md-8">
        <%= render partial: "form", locals: {item: @item} %>
      </div>
    </div>
  </div>
</div>
