<div class="container bwid on-left">
    <div class="col-md-8">
      <div class="media">
        <div class="row">
          <div class="media-body">
            <h2 class="media-heading ifont cc on-bottom">#{@item.name}</h2><br>
          </div>
          <div class="col-md-4 abs">
          </div>
          <div class="container on-left lmar tpad">
            <div class="bgwh">
              <% avatar_url = @user.avatar_url(24) %>
              <div class="pull-left">
                <%= image_tag avatar_url, class: 'pull-left' %>
              </div>
              <%= render current_user.items %>
            </div>
          </div>
        </div>
        <div class="bmar"><br></div>
      </div>
    </div>
</div>
