/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
@import "bootstrap-sprockets";
@import "bootstrap";

.txtclr {
  color: black;
}

.gvtr {
 margin-left: -20px;
 margin-right: 7px;
 margin-bottom: 8px;
 margin-top: 0px;
 box-shadow: 7px 7px 5px grey;
 position: relative;
 float: right;
}

.bfont {
  color: #000;
  border: 2px solid #FFF;
  border-radius: 4px;
  padding: 8px;
}

.bfont:hover {
  color: black;
  text-decoration: none;
  border: 2px solid #A9F9FE;
  font-weight: 900;
}


.bbfont {
  color: #000;
  border: 2px solid #FFF;
  border-radius: 4px;
  padding: 2px;
}

.bbfont:hover {
  color: black;
  text-decoration: none;
  border: 2px solid #A9F9FE;
  font-weight: 900;
}

.bbbfont {
  color: #000;
  border: 2px solid #FFF;
  border-radius: 4px;
  padding: 8px;
  font-size: 8pt;
}

.bbbfont:hover {
  color: black;
  text-decoration: none;
  border: 2px solid #A9F9FE;
  font-weight: 900;
}

.cfont {
  color: #000;
  border: 2px solid #A9F9FE;
  border-radius: 4px;
  padding: 8px;
  text-decoration: none;
}

.cfont:hover {
  color: black;
  text-decoration: none;
  border: 2px solid #FFF;
}

.dfont {
  color: black;
  text-decoration: none;
  border: 2px solid #FFF;
}

.dfont:hover {
  color: black;
  background-color: #FFF;
  text-decoration: none;
  border: 2px solid #FFF;
}

.efont {
  color: black;
  font-size: 16pt;
  text-decoration: none;
  border: 2px solid #FFF;
}

.efont:hover {
  color: black;
  background-color: #FFF;
  border: 2px solid #FFF;
  text-decoration: none;
}

.ffont {
  color: black;
  background-color: #FFF;
  text-decoration: none;
}

.ffont:hover {
  color: black;
  background-color: #FFF;
  text-decoration: line-through;
}

.gfont {
  color: black;
  background-color: #FFF;
  text-decoration: none;
  font-size: 16pt;
}

.gfont:hover {
  color: black;
  background-color: #FFF;
  text-decoration: line-through;
}

.bpad {
  padding-bottom: 5px;
}

.tpad {
  padding-top: 5px;
}

.ifont {
  font-style: italic;
  font-family: 'Shadows Into Light', cursive;
  font-weight: bold;
  font-size: 44pt;
  text-shadow: -2px 2px #FFF;
}

.ifont2 {
  font-style: italic;
  font-family: 'Shadows Into Light', cursive;
  font-weight: bold;
  font-size: 14pt;
  text-shadow: -2px 2px #FFF;
}

.iifont {
  font-style: italic;
}

.on-top {
  border-top: 2px solid #FFF;
  margin-top: 20px;
  margin-right: 20px;
}

.on-bottom {
  border-bottom: 2px solid #FFF;
  margin-top: 2px;
  margin-left: -10px;
  margin-bottom: 4px;
}

.on-left {
  border-left: 2px solid #FFF;
}

.on-right {
  border-right: 2px solid #FFF;
}

.awid {
  max-width: 100px;
  height: 75px;
  position: relative;
  float: left;
  margin-top: 5%;
}

.aawid {
  width: 150px;
  height: 75px;
  position: relative;
  float: left;
  margin-top: 15%;
  margin-left: 15px;
}

.bwid {
  margin-left: 15%;
  position: fixed;
  margin-top: 5%;
}

.testwid {
  margin-left: 15%;
  position: relative;
  margin-top: 5%;
}

.fixwid {
  margin-left: 200px;
  position: fixed;
}

.flttop {
  float: top;
}

.lwpad {
  padding-bottom: 3px;
}

.hmwid {
  margin-left: 150px;
  position: relative;
  float: left;
  margin-top: 5%;
}

.cwid {
  margin-left: 215px;
  position: relative;
  margin-top: 20px;
  padding-left: 25px;
}

.dwid {
  margin-left: 125px;
  position: relative;
  margin-top: 5%;
}

.ewid {
  margin-left: 160px;
  position: relative;
  margin-top: 5%;
}

.bline {
  position: relative;
}

.aimg {
  height: auto;
  position: fixed;
  margin-right: 5px;
}

.center {
  width: 33%;
  margin-left: 33%;
  margin-top: 15%;
}

.cc {
  text-align: center;
}

body {
  background-color: #A9F9FE;
  overflow: visible;
}

.bgwh {
  background-color: #FFF;
  opacity: 0.8;
  width: 100%;
  margin-right: 5%;
  text-decoration: none;
  font-weight: bold;
  font-family: inherit;
}

.lmar {
  margin-left: 200px;
}

.lmar2 {
  margin-left: 40px;
}

.lmar3 {
  margin-left: 10px;
}

.rmar {
  margin-right: 10px;
}

.tmar2 {

}

.fulwid {
  width: 100%;
}

.posrel {
  position: fixed;
  float: left;
  width: 150px;
  margin-top: 5%;
}

ul.nav.nav-tabs {
  background-color: #FFF;
  width: 100%;
  height: 60px;
  margin: 0px;
  padding-top: 5px;
  padding-left: 10px;
  font-weight: bold;
  font-size: 18px;
}

ul {
  list-style: none;
  padding: 10px;
}

.pull-right {
  margin-right: 15px;
  text-align: right;
}

.rp {
  padding-right: 15%;
  width: 100%;
}

.abs {
  position: absolute;
  min-width: 100px;
  max-width: 200px;
}

.hightop {
  margin-top: 5%;
  margin-left: 0%;
  position: relative;
  float: left;
  margin-bottom: 5%;
}

.bmar {
  margin-bottom: 25px;
}

.bmar2 {
  margin-bottom: 15px;
}

.tmar {
  margin-top: 5%;
}

.tmar2 {
  margin-top: 15px;
}

.tmar3 {
  margin-top: 30px;
}

.tpad {
  padding-top: 5%;
}

.tpad2 {
  padding-top: 15px;
}

.cpad {
  padding-bottom: 2px;
}

.ppad {
  padding-left: 2%;
  padding-right: 2%;
}

.floattop {
  position: realtive;
  float: top;
}

.lefttab {
  margin-left: 10px;
}
