<div class="row">
  <div class="col-md-8">
    <div class="media">
      <div class="media-body">
        <h2 class="media-heading"><%= current_user.email %></h2>
        <small>
        </small>
      </div>
    </div>
  </div>
</div>
<br>
