<div class="container posrel aawid">
  <div class="media ">
    <%= image_tag current_user.avatar_url(128), class: 'pull-left' %>
    <small>
      <%= pluralize(current_user.items.uncompleted.count, 'to-do items') %>
    </small>
    <div class="iifont tpad on-top">
      <p class="tpad">An at-a-glance history of every task you've ever done. <strong>In your entire life...</strong></p>
    </div>
  </div>
</div>
<div class="container dwid">
  <div class="col-md-8">
    <div class="container on-left">
      <h2 class="ifont on-bottom">Current To-Do Items</h2>
    <div class="bgwh lpad on-left cpad">
      <h4><%= render @items %></h4>
    </div>
    <div class="bmar"><br></div>
    <div class=""></div>
      <h2 class="ifont on-bottom">Items From The Past</h2>
      <div class="bgwh lpad on-left cpad">
        <%= render @completed_items %>
      </div>
    </div>
  </div>
  </div class="container bmar on-bottom"></div>
</div>
