<div class="container">
  <div class="col-md-6 bline ">
    <div class="container on-left tmar">
      <h1 class="ifont">What's This All About?</h1>
      <div class="on-bottom"></div>
    </div>
    <div class="container on-left">
      <div class="bgwh ppad tpad2 tmar2">
        <h4>Oh the frustration of forgetting what needs to be done!  Life is hectic.  <br>Making to-do lists is an effective method of getting things done. <br>If you find yourself wondering:<br><br><strong class="ifont">Did i do that?</strong><br> <br>Then make a list.<br>  Begin!</strong><h4><br>
      </div>
      <div class="tmar3 bmar">
        <%= link_to "Add a to-do item", new_item_path, class: 'btn-lg dfont' %>
      </div>
    </div>
  </div>
</div>
</div class="bmar"></div>
