<div class="container">
  <div class="row">
    <div class="col-md-6 awid">
      <%= image_tag("urkel2.png", :alt => "urkel", class: "aimg") %>
    </div>
  </div>
    <div class="col-md-6 bline bwid">
      <div class="container on-left">
        <h1 class="ifont">Did I Do That?</h1>
        <div class="on-bottom"></div>
        <p>Life is busy.  Make a checklist.  Live well.</p>
      </div>
      <div class="container on-left cc">

          <%= render current_user.items %>

        <div class="hightop cc">
          <%= link_to "Add a to-do item", new_item_path, class: 'btn-lg dfont' %>
        </div>
      </div>
    </div>
  </div>
