<div>
  <div>
    <h5><%= link_to "Home", welcome_index_path, class: "pull-right cfont" %></h5>
  </div>
  <div>
    <h5><%= link_to "About", welcome_about_path, class: "pull-right cfont" %></h5>
  </div>
</div>
<div class="row">
  <div class="col-md-6 awid">
    <%= image_tag("urkel2.png", :alt => "urkel", class: "aimg") %>
  </div>
</div>
  <div class="col-md-6 bline bwid">
    <div class="container on-left">
      <h1 class="ifont">Did I Do That?</h1>
      <div class="on-bottom"></div>
      <p>Life is busy.  Make a checklist.  Live well.</p>
    </div>
  </div>
</div>
